.navegator {
    display: flex;
    flex-direction: row;
    background: #12c2e9;
    background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
    background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.navegator h2 {
    color: white;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    text-align: center;
    font-size: x-large;
    font-weight: 800;
    text-decoration: underline;
    transition-property: color;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}

.navegator h2:hover {
    color: rgb(53, 51, 51);
    cursor: pointer;
}

.navegator h2:first-child {
    margin-left: 12%;
}

.sales {
    margin-left: 2%;
}
